html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: green;
}

main {
  display: flex;
}

#winnerAnnoucement {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10000;
  text-align: center;
}

button {
  align-self: center;
}

#GUI {
  width: 100vw;
  display: flex;
  position: absolute;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1em;
  color: white;
}

#rope {
  display: flex;
  position: absolute;
  top: 50vh;
  width: 100vw;
  height: 10px;
  background-color: brown;
}


#flag {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid orange;
  position: relative;
  bottom: -10px;
}

#leftGoal,
#rightGoal {
  position: relative;
  background-color: black;
  width: 10px;
  height: 100vh;
}

#leftGoal {
  left: 10%;
}

#rightGoal {
  left: 90%;
}